flask>=1.0.0
wtforms
jsonschema
zeroconf-monkey>=1.0.0
requests
netifaces
gitpython
ramlfications
websocket-client>=1.0.0,!=1.2.2
jsonref>=1.0.0
dnslib
jinja2
junit-xml
rfc3987
pyopenssl
paho-mqtt
authlib
websockets
Flask-Cors
flask-socketio
