<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NMOS Controller Tests</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css?nocache-{{ cachebuster }}">
    <script src="static/js/script.js?nocache-{{ cachebuster }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="page">
        <h1>NMOS Controller Test</h1>
        <noscript>
          <div class="alert alert-danger top_alert" role="alert">
              This test suite requires JavaScript. Please enable it to ensure accurate results.
          </div>
        </noscript>
        <div class="alert alert-primary top_alert" role="alert">
            This test suite is under active development and does not yet provide 100% coverage of specifications.<br />
            We recommend regularly re-testing implementations as new tests are developed.
        </div>

        <div id="actions">
            <form method="post" action="/testing">

                <input type="submit" value="Cancel" name="Cancel"/>
                <input type="submit" value="Finish" name="Finish" />

            </form>
        </div>
    </div>
    <br/>
    <br>
    </body>
</html>